@model UNETI.FIT.Areas.SubjectManager.Models.Entity.Progress

<div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateAt)
    </div>

</div>