@model UNETI.FIT.Models.ViewModels.LoginModel



<div class="taikhoan">
			
			<ul>
@if (Request.IsAuthenticated)
{
	
	
	if (User.IsInRole("admin"))
    {
	<li>
				<a class="username" href="/admin">@User.Identity.Name</a>
			 </li>
	}
	if (User.IsInRole("student"))
    {


			<li id="liusername">
				<a class="username" href="@Url.Action("index", "student", new { id=User.Identity.Name })">@User.Identity.Name</a>
			 </li>
			 
			 <li class="dropdown">
		
		</li>
				
				
				
	}
	
    else if (User.IsInRole("teacher"))
    {
	
		<li id="liusername"> 
		<a class="username" href="@Url.Action("index", "teacher", new {id=User.Identity.Name })">@User.Identity.Name</a>			 
		</li>
		<li class="dropdown">
		
		</li>

	
	}
	<li class="lithoat">
                                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="halo" href="javascript:document.getElementById('logoutForm').submit()">thoát</a>
                                    }
                                </li>
								
}	
else
{
				
				<a class="login-window" href="#login-box">Đăng Nhập</a>
				
}
	
	
	
	</ul>
</div>
	


