@model IEnumerable<UNETI.FIT.Areas.qlda.Models.Entity.Subject>

<div class="bg_title_top">
<a name="top-do-an" id="tab-2">TOP ĐỒ ÁN</a>
    @Resources.Resource.TopSubject
</div>

@foreach (var item in Model)
{
    <div class="top_item">

        <a href="@Url.Action("chitiet", "subject", new { id = item.ID })">
            <div class="anhtopdoan">
                <img src="/content/upload/@item.Thumbnail" alt="" title="" class="top_img">
            </div>
        </a>
        <a href="@Url.Action("chitiet", "subject", new { id = item.ID })" class="top_title_link clearfix">
            <h3 class="top_title">@item.Title</h3>






        </a>
        <div class="clear"></div>
        <div>
            <a href="?us=" class="top_cate">@item.Module.Name</a>
            <span class="top_view">@item.View </span>

        </div>
		
    </div>
}

<div class="top_viewall">
    <a href="#" class="link_bullet_next">@Resources.Resource.ViewMore</a>
</div>
