@model UNETI.FIT.Areas.SubjectManager.Models.Entity.Subject
<div id="blsd">
<div id="blsd_padding">
<div class="suadoanmoi">
<h3>SỬA ĐỒ ÁN</h3>
@{
    ViewBag.Title = Resources.Resource.Edit;
}

@using (Html.BeginForm("Sua", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.Resource.Subject</legend>
        @Html.EditorForModel()
        <div>
            <input type="submit" value="@Resources.Resource.Save" />
        </div>
    </fieldset>
}

<div>
<div class="trolaict">
    @Html.ActionLink("Hủy", "Index")
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>
</div></div>