@model UNETI.FIT.Models.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Resources.Resource.Create;
}

@section navbar{
    <li>@Html.ActionLink(Resources.Resource.ListNewsManager, "index")</li>
    <li class="active">@ViewBag.Title</li>
}
<div class="box box-primary">
    <div class="box-header">
        <h2 class="box-title"></h2>
    </div>
    @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>

            <div class="box-body">
                @Html.EditorForModel()
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="@Resources.Resource.Create" />
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
